{
    "trigger_level": "L3",
    "trainer_config": "/etc/trainer/trainer.config",
    "pipeline_def": [{
            "name": "img_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
            "type": "normal",
            "output_type": "results",
            "input_type": "use_external_data"
        },
        {
            "name": "image_cropper",
            "component": "image_processor",
            "class": "CropRoiImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "output_data",
            "trainer_config": {
                "top": 450,
                "bottom": 1350,
                "left": 500,
                "right": 1400
            }
        },
        {
            "name": "image_resizer",
            "component": "image_processor",
            "class": "ResizeImageProcessor",
            "type": "normal",
            "input_type": "use_previous_output", 
            "output_type": "output_data",
            "snapshot": false,
            "trainer_config": {
                "height": 300,
                "width": 300
            }
        },
        {
            "name": "detector",
            "component": "tf_detector",
            "class": "DetectorMobileNetSSD",
            "type": "normal",
            "input_type": "use_previous_output",
            "output_type": "results",
            "print_output": false,
            "trainer_config": {
                "convert_to_rgb": true,
                "model_file": "/home/ttrobotix/graph.pb",
                "label_map": "/home/ttrobotix/label.pbtxt",
                "label_map_npack": 4,
                "label_map_key": "name",
                "gpu_options": {
                    "allow_growth": true,
                    "visible_device_list": "3",
                    "per_process_gpu_memory_fraction": 0.3
                }
            }
        },
        {
            "name": "nms_processor",
            "component": "box_processor",
            "class": "NmsBoxProcessor",
            "type": "normal",
            "output_type": "results",
            "snapshot": false,
            "input_type": "use_previous_results",
            "trainer_config": {
                "threshold": 0.5
            }
        },
        {
            "name": "conf_determinator",
            "component": "determinator",
            "class": "DeterminatorConfidenceThreshold",
            "type": "normal",
            "output_type": "results",
            "snapshot": false,
            "input_type": "use_previous_results",
            "trainer_config": {
                "threshold": 0.25
            }
        },
        {
            "name": "determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
            "type": "normal",
            "output_type": "results",
            "snapshot": false,
            "input_type": "use_previous_results",
            "trainer_config": {
                "top": 80,
                "bottom": 250,
                "left": 0,
                "right": 280,
                "threshold": 0.5
            }
        },
        {
            "name": "accumulator",
            "component": "accumulator",
            "class": "AccumulatorObjectNumberPacked",
            "type": "normal",
            "input_type": "use_previous_results",
            "trainer_config": {
            }
        },
        {
            "name": "meta_reader",
            "component": "data_reader",
            "class": "JsonReaderFix",
            "type": "normal",
            "input_type": "use_previous_results",
            "output_type": "results",
            "print_output": false,
            "trainer_config":{
                "folder": "/home/ttrobotix/",
                "filename": "meta.json"
            }
        },
        {
            "name": "image_processor_sys",
            "component": "image_processor",
            "class": "PatchSysInfoImageProcessor",
            "trainer_config":    {
                "patch_color": [56, 54, 140],
                "patch_line_width": 1,
                "font_scale": 0.4,
                "thickness": 1,
                "text_space": 30,
                "keys_to_patch": ["object_counting"],
                "unpack_single_list": true,
                "snapshot_with_counter": false,
                "company_info": "All right reserved. DT42 AI Solution confidential",
                "attach_company_info": true,
                "patch_external_meta_roi": true
            },
            "input_type": "append",
            "type": "output_generator",
            "output_type": "output_data",
            "snapshot": true,
            "additional_info": {"input_data": [
                ["image_resizer", "output_data"],
                ["accumulator", "results"]
            ]}
        }
    ]
}
